{{>layout/header}}
    <h1>AI 앱채팅 관리 페이지 Ver.1</h1>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                    {{#isAdmin}}
                        <a href="/lobby" class="btn btn-info active" role="button">채팅로비</a>
                        <a href="/recommend" class="btn btn-info active" role="button">추천질문관리</a>
                        <a href="/user-board" class="btn btn-danger active" role="button">유저관리</a>
                    {{/isAdmin}}
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
        <br>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thread class="thread-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
            </thread>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{postsId}}</td>
                    <td><a href="/posts/update/{{postsId}}">{{title}}</a></td>
                    <td>{{#author}}{{author}}{{/author}}</td>
                    <td>{{formattedModifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

<!--index.js 추가 -->
<script src="/js/app/index.js"></script>
{{>layout/footer}}
